/* ------------------------------------------------------------------------------------------------- */
/* Header Style Start */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 36px 30px;
  z-index: 102;
  transition: .2s;
}

.header_logo_img_active {
  width: 80px;
}

.header_active {
  padding: 15px 30px;
  background: #fff;
  box-shadow: 0px 2px 14px rgb(0 0 0 / 7%);
}

.header_body {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  z-index: 101;
}

.header_list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
}

.header_item {
  position: relative;
  margin-left: 50px;
}

.header_item:first-child {
  margin-left: 15px;
}

.header_link {
  text-decoration: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #000;
}

.menu_arrow {
  display: inline-block;
  position: relative;
  top: -2px;
  right: -5px;
  width: 0;
  height: 0;
  border-top: 5px solid #000;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  transition: .1s linear;
}

.headet_sublist {
  position: absolute;
  display: none;
  background: #fff;
  /* box-shadow: 0px 2px 14px rgb(0 0 0 / 7%); */
  padding: 0 20px 10px 20px;
  list-style: none;
}

.header_subitem {
  margin-top: 10px;
}

.header_sublink {
  text-decoration: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #969798;
}

.header_link:hover, .header_link:active, .header_link:focus {
  color: #E00034;
}

.header_sublink:hover, .header_sublink:active, .header_sublink:focus {
  color: #E00034;
}

.header_item:hover .headet_sublist {
  display: block;
}

.header_item:active .menu_arrow {
  transform: translateY(0);
  opacity: 1;
}

.header_item:hover .menu_arrow {
  transform: rotate(-180deg);
  border-top: 5px solid #E00034;
}

.header_item:active .menu_arrow  {
  transform: rotate(-180deg);
  border-top: 5px solid #E00034;
}

.header_menu_close {
  display: none;
}

.header_burger {
  display: none;
}

/* Header Style End */
/* ------------------------------------------------------------------------------------------------- */
/* Industries Style Start */

.industries {
  margin: 160px 0px  60px 0;
}

.industries_title {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.industries_title_line {
  width: 90px;
  height: 2px;
  margin: 10px auto 60px;
  background: #E00034;
}

.industries_content {
  display: flex;
  background: #E5E5E5;
}

.industries_item {
  display: flex;
  align-items: center;
  width: 440px;
  height: 80px;
  background: linear-gradient(90.06deg, #FFFFFF 70.83%, rgba(255, 255, 255, 0.25) 99.97%);
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
  color: #969798;
  border: none;
  cursor: pointer;
  padding: 0 55px;
  margin-bottom: 1px;
}

.industries_item:hover {
  color: #E00034;
}

.industries_item1:checked ~ .industries_item {
  background: #fff;
  color: #E00034;
}

.industries_blocks {
  position: relative;
  width: 100%;
  z-index: 0;
}

.industrie_block {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  transition: .4s all ease;
}

.active {
  opacity: 1;
}

.industries_item1 {
  width: 0;
  height: 0;
  appearance: none;
  position: absolute;
}

.industries_article {
  padding: 60px 130px 60px 85px;
  background: #FFFFFF;

  margin: 1px 0;
}

.industries_article_title {
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  color: #E00034;
  margin-bottom: 40px;
}

.industries_input {
  width: 0;
  height: 0;
  appearance: none;
  position: absolute;
}

.industries_text {
  margin-top: 20px;
}

.industries_arrow {
  margin-top: 60px;
}

.industries_images {
  position: relative;
  height: 728px;
}

.industries_images::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
}

.industries_img {
  max-width: 340px;
  height: 100%;
  object-fit: cover;
}

/* Industries Style End */
/* ------------------------------------------------------------------------------------------------- */
/* Slider Style Start */

.slider {
  width: 100%;
  margin-bottom: 30px;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slide_block {
  position: relative;
  width: 365px;
  height: 470px;
  cursor: pointer;
}

.slide_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide_filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  transition: .4s;
}

.slide_title_news {
  position: absolute;
  top: 20px;
  left: 0;
  width: 110px;
  height: 40px;
  font-size: 18px;
  line-height: 22px;
  background: #E00034;
  color: #fff;
  padding: 8px 10px;
}

.slide_title_webinar {
  position: absolute;
  top: 20px;
  left: 0;
  width: 110px;
  height: 40px;
  font-size: 18px;
  line-height: 22px;
  background: #2DB3FF;
  color: #fff;
  padding: 8px 10px;
}

.slide_date {
  position: absolute;
  left: 10px;
  bottom: 300px;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.slide_line1 {
  position: absolute;
  left: 0;
  bottom: 290px;
  width: 140px;
  height: 2px;
  background: #E00034;
}

.slide_line2 {
  position: absolute;
  left: 0;
  bottom: 290px;
  width: 140px;
  height: 2px;
  background: #2DB3FF;
}

.slide_text {
  position: absolute;
  left: 50%;
  bottom: 180px;
  transform: translateX(-50%);
  width: 260px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}

.slide_arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 60px;
  z-index: 11;
}

.slide_block:hover .slide_filter {
  opacity: .5;
}

.navigation {
  position: relative;
}

.nav-line {
  position: absolute;
  width: 1545px;
  border-bottom: 2px solid #E5E5E5;
  margin-top: 45px;
}

.slider-nav {
  position: relative;
  margin-bottom: 60px;
}

.slider-nav .slick-dots {
  position: absolute;
  margin-top: -67px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slider-nav .slick-dots li {
  list-style: none;
  height: 0;
}

.slider-nav .slick-dots button {
  width: 154.5px;
  height: 10px;
  background: none;
  border: none;
  font-size: 0;
  padding: 0;
}

.slider-nav_fader {
  position: relative;
  background: none;
  width: 154.5px;
}

.slider-nav_arrow {
  margin-left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

/* Slider Style End */
/* ------------------------------------------------------------------------------------------------- */
/* Popup Style Start */

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 102;
  opacity: 0;
  visibility: hidden;
  transition: .4s;
}

.popup_container {
  display: flex;
  max-width: 100%;
  height: 100%;
}

.popup_bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.popup_body {
  position: relative;
  margin: auto;
  width: 915px;
  height: 654px;
  background: #fff;
  padding: 40px 160px;
}

.popup_close {
  position: absolute;
  top: 30px;
  right: 30px;
  line-height: 0;
}

.popup_title {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #1F1D2A;
  margin-bottom: 40px;
}

.popup_form {
  margin: 0 auto;
  max-width: 600px;
}

.popup_inputs {
  margin-bottom: 30px;
}

.popup_input {
  border: 1px solid #E5E5E5;
  width: 100%;
  height: 60px;
  padding: 16px 24px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.input_label {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #EB5757;
}

.message {
  height: 124px;
  margin-bottom: 20px;
}

.popup_send {
  width: 285px;
  height: 60px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
  background: #E00034;
  border: none;
  border-radius: 5px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
}

.popup_send:hover, .popup_send:active, .popup_send:focus {
  opacity: .9;
}

.popup_thanks {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #219653;
}

/* Popup Style End */
/* ------------------------------------------------------------------------------------------------- */
/* Media Style Start */

@media (max-width: 1545px) {
  .wrapper {
    max-width: 1230px;
  }

  .header_item {
    margin-left: 32px;
  }

  .industries_item {
    width: 300px;
    padding: 0 30px;
  }

  .industries_img {
    max-width: 300px;
  }

  .nav-line {
    width: 1200px;
  }

  .slider-nav .slick-dots button {
    width: 120px;
  }
  
  .slider-nav_fader {
    width: 120px;
  }

}

@media (max-width: 1200px) {
  .wrapper {
    max-width: 1000px;
  }

  .header_item {
    margin-left: 20px;
  }

  .header_link {
    font-size: 16px;
}

  .industries_item {
    width: 240px;
    height: 60px;
    padding: 0 20px;
    font-size: 20px;
  }

  .industries_article {
    padding: 20px 30px;
  }

  .industries_article_title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  body {
    font-size: 18px;
    line-height: 22px;
  }

  .industries_images {
    height: 549px;
  }

  .industries_img {
    max-width: 260px;
  }

  .nav-line {
    width: 970px;
  }

  .slider-nav .slick-dots button {
    width: 97px;
  }
  
  .slider-nav_fader {
    width: 97px;
  }

}

@media (max-width: 992px) {
  .wrapper {
    max-width: 780px;
  }

  .header {
    padding: 20px 15px;
  }

  .header_logo_img {
    width: 72px;
  }

  .header_item {
    margin-left: 15px;
  }

  .header_link {
    font-size: 13px;
}

  .industries_item {
    width: 320px;
    height: 60px;
    padding: 0 35px;
    font-size: 18px;
  }

  .industries_article {
    height: 547px;
    padding: 20px 35px;
    margin: 1px 1px 1px 0;
  }

  .industries_article_title {
    font-size: 18px;
    margin-bottom: 20px;
  }

  body {
    font-size: 14px;
    line-height: 21px;
  }

  .industries_images {
    display: none;
  }

  .slider {
    width: 100%;
    margin-bottom: 10px;
  }

  .slide_block {
    width: 225px;
    height: 290px;
  }

  .nav-line {
    width: 750px;
    margin-top: 34px;
  }

  .slider-nav {
    margin-bottom: 40px;
  }

  .slider-nav .slick-dots button {
    margin-top: 26px;
    width: 75px;
  }
  
  .slider-nav_fader {
    width: 75px;
  }

  .slider-nav_arrow {
    width: 60px;
  }

  .slide_title_webinar {
    top: 12px;
    width: 67px;
    height: 23px;
    font-size: 12px;
    line-height: 14px;
    background: #9A9B9C;
    color: #fff;
    padding: 4px 7px;
  }

  .slide_title_news {
    top: 12px;
    width: 67px;
    height: 23px;
    font-size: 12px;
    line-height: 14px;
    background: #E00034;
    color: #fff;
    padding: 4px 7px;
  }

  .slide_date {
    bottom: 170px;
    font-size: 12px;
    line-height: 14px;
  }

  .slide_line1, .slide_line2 {
    bottom: 165px;
    width: 87px;
  }

  .slide_text {
    bottom: 85px;
    width: 172px;
    font-size: 12px;
    line-height: 14px;
  }
  
  .slide_arrow {
    height: 30px;
    bottom: 30px;
  }

  .popup_body {
    margin-left: 15px;
    margin-right: 15px;
  }

}

@media (max-width: 767px) {
  .wrapper {
    max-width: none;
    padding: 0;
  }

  .header {
    padding: 20px 20px;
  }

  .header_logo_img {
    width: 123px;
  }

  .header_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 100;
    opacity: 0;
    transform: translateY(-100%);
    transition: .2s all linear;
  }

  .header_menu_acive {
    opacity: 1;
    transform: translateY(0);
  }

  .header_list {
    position: relative;
    display: block;
    top: 130px;
    text-align: center;
  }

  .headet_sublist {
    position: relative;
    list-style: none;
  }

  .header_item {
    margin-bottom: 20px;
  }

  .header_link {
    font-size: 16px;
    line-height: 150%;
  }

  .header_sublink {
    margin-bottom: 20px;
  }

  .header_menu_close {
    display: block;
  }

  .header_menu_close_icon {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 101;
    cursor: pointer;
  }

  .header_burger {
    display: block;
    z-index: 99;
    cursor: pointer;
  }

  .industries {
    margin: 110px 0  40px 0;
  }
  
  .industries_title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: start;
    margin-left: 15px;
  }
  
  .industries_title_line {
    width: 214px;
    height: 2px;
    margin: 10px 0 30px;
    background: #E00034;
  }

  .industries_list {
    display: none;
  }

  .industries_blocks {
    width: 100%;
    z-index: 0;
  }
  
  .industrie_block {
    position: relative;
    display: block;
    opacity: 1;
    min-width: 0;
  }

  .industries_article {
    width: 100%;
    height: 100%;
    padding: 10px 35px;
    margin: 0 0 1px 0;
  }

  .industries_article_title {
    display: block;
    font-size: 18px;
    margin-bottom: 0;
    color: #969798;
  }

  .industries_article_title:hover {
    color: #E00034;
  }

  .industries_text {
    display: none;
    font-size: 14px;
    line-height: 21px;
    margin-top: 10px;
  }

  .industries_input:checked ~ .industries_text {
    display: block;
  }

  .industries_input:checked ~ .industries_article_title {
    color: #E00034;
  }

  .industries_arrow {
    display: none;
  }

  .industries_images {
    display: none;
  }

  .slider {
    width: 100%;
    margin-bottom: 10px;
  }

  .slide_block {
    width: 225px;
    height: 290px;
  }

  .nav-line {
    left: 50%;
    transform: translateX(-50%);
    width: 290px;
    margin-top: 16px;
  }

  .slider-nav {
    margin-bottom: 40px;
  }

  .slider-nav .slick-dots button {
    left: 50%;
    transform: translateX(-50%);
    margin-top: 16px;
    width: 29px;
  }
  
  .slider-nav_fader {
    width: 26px;
  }

  .slider-nav_arrow {
    width: 30px;
  }

  .slide_title_webinar {
    top: 12px;
    width: 67px;
    height: 23px;
    font-size: 12px;
    line-height: 14px;
    background: #9A9B9C;
    color: #fff;
    padding: 4px 7px;
  }

  .slide_title_news {
    top: 12px;
    width: 67px;
    height: 23px;
    font-size: 12px;
    line-height: 14px;
    background: #E00034;
    color: #fff;
    padding: 4px 7px;
  }

  .slide_date {
    bottom: 170px;
    font-size: 12px;
    line-height: 14px;
  }

  .slide_line1, .slide_line2 {
    bottom: 165px;
    width: 87px;
  }

  .slide_text {
    bottom: 85px;
    width: 172px;
    font-size: 12px;
    line-height: 14px;
  }
  
  .slide_arrow {
    height: 30px;
    bottom: 30px;
  }

  .navigation {
    display: none;
  }

  .popup_body {
    padding-left: 15px;
    padding-right: 15px;
  }

  .popup_title {
    font-size: 20px;
  }

  .popup_send {
    width: 250px;
  }

}

/* Media Style End */
/* ------------------------------------------------------------------------------------------------- */